:root {
    --primary: #1c2536;
    --light: #ffffff;
    --grey: #efefef;
    --warning: #f0f2f5;
}

body {
    overflow: scroll;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

.text-blue {
    color: var(--primary) !important;
}

#sidebar-container {
    min-height: 100vh;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}

#sidebar-container .menu {
    width: 16rem;
}

.carousel-inner {
    max-height: 100%;
}

.fotop {
    display: block;
    margin: 2%;
    width: 100%;
    height: 100%;
}